### **함수 직접 정의하기 (사용자 정의 함수)**

아래 문제들을 해결하기 위한 함수를 직접 작성해 보세요.

#### **난이도 (하)**

**문제 1 (빈칸 채우기)**
"안녕하세요!"를 출력하는 `say_hello` 함수를 완성하세요.

___를 지우고 들어갈 내용을 작성하세요

In [ ]:
# 여기에 함수를 정의하세요!
def say_hello():
    print("안녕")     
    # print(say_hello())

say_hello()

안녕

In [ ]:
def say_hello():
    return "안녕"
    # print(say_hello())

say_hello()

'안녕'

In [ ]:
"안녕" # 예상 출력: 안녕하세요!

'안녕'

**문제 2**
이름을 인자로 받아 "안녕하세요, [이름]님!"을 출력하는 `greet` 함수를 만드세요.

In [58]:
def greet(name):
    print(f"안녕하세요. {name}님!")

In [59]:
# 여기에 함수를 정의하세요!
greet("은서") # 예상 출력: 안녕하세요, 은서님!

안녕하세요. 은서님!

**문제 3**
두 개의 숫자를 인자로 받아 그 합을 반환하는 `add_numbers` 함수를 만드세요.

In [91]:
def add_numbers(a,b):
    return a + b
add_numbers(10, 5)

15

In [93]:
# 여기에 함수를 정의하세요!
add_numbers(20, 5) # 예상 출력: 15

25

#### **난이도 (중)**

**문제 4 (빈칸 채우기)**
세 개의 숫자를 인자로 받아 평균값을 반환하는 `calculate_average` 함수를 완성하세요.


___를 지우고 들어갈 내용을 작성하세요

In [89]:
# 여기에 함수를 정의하세요!
def calculate_average(a, b, c):
    total = a + b + c
    average = total / 3
    return average

In [90]:
calculate_average(10, 20, 30) # 예상 출력: 20.0

20.0

**문제 5**
숫자를 인자로 받아 0보다 크면 "양수", 0보다 작으면 "음수", 0이면 "0"을 출력하는 `check_positive` 함수를 만드세요.

In [113]:
def check_positive(i):
    if i > 0 :
        print("양수")
    elif i < 0 :
        print("음수")
    else:
        print("0")

In [112]:
# 여기에 함수를 정의하세요!
check_positive(5) # 예상 출력: 양수
check_positive(-3) # 예상 출력: 음수
check_positive(0) # 예상 출력: 0

양수
음수
0

**문제 6**
문자열을 인자로 받아 그 문자열의 길이를 반환하는 ` get_string_length`함수를 만드세요. (힌트: `len()` 함수를 사용하면 안 됩니다.)

In [59]:
def get_string_length(words):
    count = 0
    for i in words:
        count += 1
    return count
get_string_length("Python")

6

In [55]:
def get_string_length(i):
    return len(i)

In [56]:
get_string_length("Python")

6

#### **난이도 (상)**

**문제 7 (빈칸 채우기)**
정수 리스트를 인자로 받아 리스트의 모든 요소의 합을 반환하는 `sum_list` 함수를 완성하세요.


___를 지우고 들어갈 내용을 작성하세요

In [146]:
# 여기에 함수를 정의하세요!
def sum_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

In [147]:
sum_list([1, 2, 3, 4, 5]) # 예상 출력: 15

15

**문제 8**
정수 리스트를 인자로 받아 리스트 내의 가장 큰 값을 반환하는 `find_max` 함수를 만드세요. (힌트: `max()` 함수를 사용하지 마세요.)

In [ ]:
find_max = [2, 5, 1, 9, 3]
find_max.sort()
print(find_max[-1])

9

In [47]:
def find_max(numbers):
    for num in numbers:
        if num < num + 1 :
            return num

In [48]:
# 여기에 함수를 정의하세요!
find_max([2, 5, 1, 9, 3]) # 예상 출력: 9

2

**문제 9**
정수 리스트를 인자로 받아, 짝수만 골라 새로운 리스트로 반환하는 `filter_even` 함수를 만드세요.

In [44]:
def filter_even(numbers):
    num_list = []  
    for num in numbers:
        if num % 2 == 0:  
            num_list.append(num)
    return num_list

In [45]:
# 여기에 함수를 정의하세요!
filter_even([1, 2, 3, 4, 5, 6]) # 예상 출력: [2, 4, 6]

[2, 4, 6]